@import '../../style/color';

.navbar {
  max-height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-bottom: 1px solid $alpha;
  padding-bottom: 4px;
  margin-bottom: 4px;
  box-shadow: $shadow 0px 1px 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // position: sticky;
  // color: white;
  // background: black;

  .title {
    font-size: 30px;
  }
}