// project colors
$primary: #2e2e2e;
$alpha: #d6d6d6;
$secondary: rgb(193, 193, 193);
$shadow: rgb(63 63 70 / 0.4);
$lightShadow: rgba(0, 0, 0, 0.05);
$white: white;
$secondary-white: #ebebeb;
$gray: #a4a0a0;
$secondary-gray: #ccc;
$background-hover: $lightShadow;
$border-color: #ddd;
$item-hover-background: #f7f7f7;
$item-selected-background: #e4e4e4;
$popover-background: white;
$card-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$node-shadow: rgba(100, 100, 111, 0.2);