@import './style/color';

.root {
  width: 100%;
  display: flex;
  height: calc(100% - 60px);


  .list-wrapper {
    width: 30%;

  }

  .taxonomy-wrapper {
    width: 100%;
    background: radial-gradient(circle, $secondary 10%, transparent 11%);
    background-size: 1em 1em;
    background-color: $white;
    opacity: 1;
  }
}
