@import './style/color';

.root {
  width: 100%;
  display: flex;
  height: calc(100vh - 55px);
  overflow: hidden;


  .list-wrapper {
    width: 30%;

  }

  .taxonomy-wrapper {
    width: 70%;

  }
}